[project]
	description = Custom Gradle Distribution
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jason Chaffee (jasonchaffee)
[access "refs/for/refs/*"]
	read = group user/Jason Chaffee (jasonchaffee)
	push = group user/Jason Chaffee (jasonchaffee)
	label-Code-Review = -2..+2 group user/Jason Chaffee (jasonchaffee)
	label-Verified = -1..+1 group user/Jason Chaffee (jasonchaffee)
	rebase = group user/Jason Chaffee (jasonchaffee)
	removeReviewer = group user/Jason Chaffee (jasonchaffee)
	submit = group user/Jason Chaffee (jasonchaffee)
[access "refs/heads/*"]
	read = group user/Jason Chaffee (jasonchaffee)
	create = group user/Jason Chaffee (jasonchaffee)
	push = +force group user/Jason Chaffee (jasonchaffee)
	pushMerge = group user/Jason Chaffee (jasonchaffee)
[access "refs/tags/*"]
	push = +force group user/Jason Chaffee (jasonchaffee)
	pushTag = group user/Jason Chaffee (jasonchaffee)
	pushSignedTag = group user/Jason Chaffee (jasonchaffee)
